<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>NCAA Men's Basketball Scores</title>
  <link rel="stylesheet" href="css/normalize.css">
  <!--<link rel="stylesheet" href="css/main.css">-->
  <link rel="stylesheet" href="css/ncaa-demo.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="body-bkg-grey">

<div class="main-content">
    <div class="main-title">NCAA College Basketball Scores</div>
    <div class="game-select-wrapper">
        <div class="inner-game-bkg main-container-bkg"></div>
        
        <div class="game-wrapper" id="game-wrapper">
          
        </div>

        <div class="swap-git-header">http://</div>

        <div class="swap-section">
          <div class="swap-header">Select a Framework</div>
            <div class="swap-items">
              <div class="swap-item">
                React
              </div>
              <div class="swap-item">
                Angular
              </div>
            </div>
        </div>
        <div class="swap-section">
          <div class="swap-header">Select a JS version</div>
            <div class="swap-items">
              <div class="swap-item">
                ES5
              </div>
              <div class="swap-item">
                ES6
              </div>
            </div>
        </div>
    </div>
</div>

  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/react.js"></script>
  <script src="js/react-dom.js"></script>
  <script src="js/browser.min.js"></script>
  <!--<script type="text/babel" src="js/react-bwr.js"></script>-->
  <script type="text/babel" src="js/ncaa-demo-dev.js"></script>

</body>
</html>